name: you_repy
on:
  workflow_dispatch:
  schedule:
     - cron: '0 0,22 * * *'
  watch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: lajigth/you
          ref: 'main'
          token: ${{ secrets.PAT }}
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
          python-version: 3.7       
      - name: 'Install requests'
        run: pip install requests
      - name: 'run youth-repy'
        run: python3 youth_read.py
        env:
            XLC: ${{ secrets.XLC }}
            GITHUB: ${{ secrets.GITHUB }}      
            EFORK: ${{ secrets.EFORK }} 
